.body {
  background-image: url("fishcookies.jpg");
  background-size: 100%;
  /* background-color: salmon; */
}

/* TEXT TYPES */

.header1 {
  font-size: 30px;
  
}

.report {
  float: left;
  width: 20%;
}

/* FONT SECTION */

.high {
  font-family: 'Roboto', sans-serif;
  color: rgb(60, 50, 60)
}

.data {
  font-family: Arial;
  color: rgb(60, 60, 50)
}

.text {
  font-family: Georgia;
  color: rgb(50, 60, 60)
}

/* BOXES AND TABLES */

.boxes {
  background-color: white;
}

.tables {
  background-color: white;
}

#centerpic {
  display: block;
  margin-left: auto;
  margin-right: auto
}

td {
  padding: 10px;
}