body {
  background-color: #6D7973;
}

td {
  padding: 10px;
  border: medium solid #3F3931;
  font-family: 'Abel', sans-serif;
  color: #E5DACE;
  background-color: #3F3931;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  color: #E7BAA0;
  background-color: #3F3931;
  padding: 15px;
  vertical-align: middle;
}

table {
  margin: 0 auto;
  margin: 50px;
}

#shopForm {
  padding: 50px;
  border: medium solid #3F3931;
  font-family: 'Abel', sans-serif;
  color: #E5DACE;
  background-color: #3F3931;
}


/*
#E7BAA0
#E5DACE
#B2B2A2
#6D7973
#3F3931
*/